# PostgreSQL Database Connection String
# Fill this with your Supabase link or the provided cloud Postgres string when running locally
DATABASE_URL="postgresql://postgres:Pxe4EGNkfW44OTYTd@db.kjsfqnjvhtmakmjivaia.supabase.co:5432/postgres"

# Secure JWT Secret
JWT_SECRET="5d8ede9c-6efe-4cef-8a85-066ede811c30"

# Server Port
PORT=3000
